.App {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.MuiDrawer-paperAnchorRight {
  align-items: center;
  justify-content: center;
}

.MuiSvgIcon-colorPrimary > g {
  fill: #4583FF;
}

/* Home : Carousel Slide */
.react-swipeable-view-container {
  overflow-x: visible;
}

/* Swipe : Mobile Style */
.swiper-wrapper {
  overflow-x: visible;
}

.searchSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  width: 80%;
}

.searchSwiper .swiper-pagination {
  position: relative;
  padding-top: 18px;
}

/* Swipe : PC Style */
.displaySwiper .swiper-slide {
  width: auto !important;
}

/* Calendar : Date Picker Style */
.MuiPickersPopper-root .MuiPickersYear-yearButton {
  margin: 0;
  font-size: 14px;
}

/* 메뉴 Style */
#main-menu .MuiMenuItem-root .MuiCollapse-wrapperInner {
  width: 100%;
}

#main-menu .MuiMenuItem-root:hover {
  color: #000 !important;
  background-color: #fff !important; /* 카테고리 Hover 배경색 조정 */
}

#main-menu .MuiCollapse-root {
  color: #000;
  background-color: #fff;
}

#main-menu .MuiCollapse-root .MuiMenuItem-root:hover {
  color: #fff !important;;
  background-color: #333333 !important;;
}

#sub-menu .MuiMenuItem-root:nth-child(n+2) .MuiListItemText-root span {
  color: #808080 !important;
}

#sub-menu .MuiMenuItem-root:nth-child(n+2):hover .MuiListItemText-root span {
  color: #9229d2 !important;
  font-weight: bold !important;
  text-decoration: underline;
}