.App {
  text-align: center;
}

.MuiDrawer-paperAnchorRight {
  align-items: center;
  justify-content: center;
}

.MuiSvgIcon-colorPrimary > g {
  fill: #4583FF;
}

/* 검색 Style */
.MuiCollapse-wrapperInner {
  width: 400px !important; /* 검색바 최대 크기 조정 */
}

#search.MuiPopperUnstyled-root {
  margin-top: 10px !important;
  margin-left: -10px !important;
}

#search .MuiListItemButton-root:hover {
  background-color: #fff !important; /* 모든검색어 Hover 배경색 조정 */
}

#search .MuiMenuItem-root:hover {
  color: #9229d2 !important;
  background-color: #fff !important; /* 인기검색어 Hover 배경색 조정 */
}

#search .MuiMenuItem-root:hover span {
  font-weight: bold !important;
}

/* 메뉴 Style */
#main-menu.MuiPopperUnstyled-root .MuiBox-root {
  top: 10px;
  left: -41px;
  position: absolute;
}

#main-menu .MuiMenuItem-root:hover {
  color: #000 !important;
  background-color: #fff !important; /* 카테고리 Hover 배경색 조정 */
}

#sub-menu .MuiMenuItem-root:nth-child(n+2) .MuiListItemText-root span {
  color: #808080 !important;
}

#sub-menu .MuiMenuItem-root:nth-child(n+2):hover .MuiListItemText-root span {
  color: #9229d2 !important;
  font-weight: bold !important;
  text-decoration: underline;
}

/* Admin - 카테고리 Form - Text Field */
#category .MuiFormControl-root {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: -10px;
}

#category .MuiFormControl-root label {
  top: -6px;
}

#category .MuiFormControl-root label[data-shrink='true'] {
  top: 0;
}

/* Admin - 카테고리 Form - Radio Field */
#category .MuiFormGroup-root {
  margin-top: -4px;
  margin-bottom: -4px;
  margin-left: -3px;
}

#category .MuiFormControlLabel-label {
  font-size: 14px;
}

/* Admin - 배너 Form - Text Field */
#banner .MuiFormControl-root {
  margin-top: 4px;
  margin-bottom: 4px;
}

#banner .MuiFormControl-root label {
  top: -6px;
  font-size: 14px;
}

#banner .MuiFormControl-root label[data-shrink='true'] {
  top: 0;
}

/* Admin - 배너 Form - Calendar Field */
#banner .MuiInputBase-inputAdornedEnd {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 85px;
}

/* Admin - 배너 Form - Select Field */
#banner .MuiSelect-select {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 85px;
}