@import url('./assets/fonts/font.css');

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/* 모바일 기기용 스타일 */
@media screen and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
}

body {
  font-family: "Pretendard-Regular", "Roboto", "Helvetica Neue", Helvetica, Sans-serif;
}

button, input, span, h2, h6, th, p {
  font-family: "Pretendard-Bold" !important;
}

div, label, td {
  font-family: "Pretendard-Regular" !important;
}